<head>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <base href="/">
</head>
<body>
    <div class="header">
        <div id="logo">Logo</div>
        <div>ASSETS</div>
        <div id="settings">Settings</div>
    </div>
    <app></app>
    <script src="dist/polyfills.js"></script>
    <script src="dist/app.js"></script>
</body>

